
.background {
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(176,176,176,1) 30%);
}
.navBar{
    display:flex;
    width:100%;
    height: 80px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background: #000000;
}
.rechargeHome{
    position: relative;
}
.logo{
    position: absolute;
    height:80px;
    width:80px;
    left: 300px;
    top: 20px;
    border-radius: 40px;
}
.searchBar{
    display: flex;
    width: 500px;
    justify-content: center;
    border: solid 1px #000000;
    border-radius: 20px;
}
.inputSearch{
    height:25px;
    width: 400px;
    border: none;
    padding-left: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: 0;
}
.buttonSearch{
    height:27px;
    width: 100px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}
.createLink{
    text-decoration: none;
    width: 152px;
    padding:8px;
    position: absolute;
    top: 35px;
    right: 250px;
    border-radius: 10px;
    background-color: #000000;
    color: #FFF;
    border: solid 1px #FFF;
    transition: 500ms;
}
.createLink:hover{
    background-color: #fff;
    color:#000000;
}
.createLink:active{
    transform: scale(0.9);
}
.ctnOrders{
    background: rgb(176,176,176);
    background: linear-gradient(0deg, rgba(176,176,176,1) 10%, rgba(0,0,0,1) 100%);
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    color: #FFF;
    border-bottom: solid 1px #fff;
    padding: 10px;
}
h5{
    font-size: 20px;
}
.orderBy{
    width: 200px;
    padding: 0px 20px;
    border-radius: 10px;
    padding: 10px 20px;
}
.order{
    width: 200px;
    padding: 0px 20px;
    margin-left: 30px;
    border-radius: 10px;
    padding: 10px 20px;
}
.filter{
    width: 200px;
    padding: 0px 20px;
    margin-left: 30px;
    border-radius: 10px;
    padding: 10px 20px;
}
.orderName{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputOrder{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    outline: 0;
}
.options{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.buttonPag{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.prevButton{
    display: flex;
    justify-content: center;
    background-color: #000000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    width: 150px;
    font-size: 50px;
    color: #FFF;
    border: solid 1px #fff;
    cursor: pointer;
}
.prevButton:hover{
    background-color: #FFF;
    color: #000000;
    transition: 500ms;
}
.prevButton:active{
    transform: scale(0.9);
}
.nextButton{
    display: flex;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    width: 150px;
    font-size: 50px;
    background-color: #000000;
    color: #FFF;
    border: solid 1px #FFF;
    cursor: pointer;
}
.nextButton:hover{
    background-color: #FFF;
    color: #000000;
    transition: 500ms;
}
.nextButton:active{
    transform: scale(0.9);
}
.upButton {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% ;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 50px;
    color: #fff;
    border: solid 1px white;
    background: #000000;
    font-size: 40px;
    transition: all 300ms ease;
    transform: scale(0)
}
.upButton:hover {
    background: #FFF;
    color: #000000;
}
.cards {
    width: 80%;
    margin-left:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 18px;
    padding: 15px;
}

.link{
    text-decoration: none;
    height: 390px;
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 40px;
}
