.ctn-body-form{
    background-color: rgba(204, 204, 204, 0.808);
}
.navBar-form{
    display:flex;
    width:100%;
    height: 90px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background: #000000;
}
.logo-form{
    position: absolute;
    height:80px;
    width:80px;
    left: 100px;
    top: 20px;
    border-radius: 40px;
}
.title-form{
    color: #FFF;
}
.body-form{
    padding:30px;
}
span{
    color: #a70404;
    font-size: 15px;
    font-weight: bold;
}
.form-sonic{
    height:550px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.ctn-inputs{
    padding:10px;
    height:480px;
    margin-left: 100px;
    margin-right: 150px;
}
.ctn-form{
    padding:10px;
}
.option-form{
    border: solid 1px #fff;
    border-radius: 15px;
    width: 355px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 47px;
}
.label-form{
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 150px;
    height: 48px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.input-form{
    height: 40px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.ctn.form.date{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.option-form-date{
    border: solid 1px #fff;
    border-radius: 15px;
    width: 355px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    height: 47px;
    margin-left:10px;
}
.label-form-date{
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 150px;
    height: 48px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.input-form-date{
    height: 45px;
    width: 190px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.ctn-platforms{
width:150px;
height: 500px;
}
.title-platforms{

}
.ctn-box-platforms{

}
.checkbox-platforms{

}
.label-platforms{

}
.ctn-genres{
display: inline;
}
.title-genres{
font-size: 28px;
}
.ctn-box-genres{
}
.checkbox-genres{

}
.label-genres{

}
.button-create{
padding:10px;
border: solid 1px #000000;
border-radius: 10px;
margin-left: 125px;
margin-top: 40px;
}
.button-create:hover{
    background-color: #000000;
    border: solid 1px #FFF;
    color: #FFF;
    transition: 500ms;
}