
.landing {
    position: absolute;
    width: 100%;
    height: 100%;
}
.button {
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    display: flex;
    height: 50px;
    background-clip: border-box;
    background: rgb(186,186,186);
    background: linear-gradient(0deg, rgb(100, 100, 100) 0%, rgba(255,255,255,1) 51%, rgb(100, 100, 100) 100%);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-items: center;
    justify-content: center;
    margin-left: 33%;
    margin-top: 20%;
    padding: 10px;
    font-size: 50px ;
    transition: 300ms;
}
.button:hover {
    transform:scale(1.1);
    background-clip: border-box;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(186,186,186,1) 0%, rgba(255,255,255,1) 51%, rgba(176,176,176,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.button:active{
    transform: scale(0.9);
}